<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 1 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="authed" *ngIf="authenticationChange$ | async; else elseBlock">
    <ion-button (click)="logout()">Logout</ion-button>
    <ion-button (click)="switchApi(true)">API Uno</ion-button>
    <ion-button (click)="switchApi()">API Dos</ion-button>

    <section *ngIf="authResult && authResult.accessToken" class="auth-result">
      <h3>Auth Result</h3>
      <a *ngIf="authResult?.accessToken" target="_system" href="https://jwt.io/#debugger-io?token={{authResult.accessToken}}">Decode token via jwt.io</a>
      <span class="token ion-padding">{{authResult.accessToken}}</span>
    </section>
  </div>
  <ng-template #elseBlock>
    <ion-button (click)="login()">Login</ion-button>
  </ng-template>
</ion-content>
